.container-esquerdo {
    background-color: #3347B0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* CONTAINER ESQUERDO */
/* .logo {
    padding: 50px;
}

.nome {
    font-size: 3rem;
}

.cursos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 10px;
    font-size: 3rem;
}

.configuracao {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
}

.voltar {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.voltar :hover {
    background-color: aquamarine;
    color: blue;
} */

/* CONTAINER DIREITO */

.titulo h2{
    padding-top: 20px;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3347B0;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: #1a2975;
}

.dropbtn {
    background-color: rgb(58, 61, 243);
    color: #fff;
    padding: 12px;
    font-size: 1rem;
    border: none;
    box-shadow: 0  10px 10px rgba(0, 0, 0, 0.1);
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    display: block;
}

.dropdown-content a:hover {
    background-color: #4a69ff;
}
.container-legenda{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 96px;
    height: 50px;
    width: 100%;
    background-color: #BCC2E5;
}
.container-geral-status{
    display: flex;
    gap: 24px;
}
.container-status{
    display: flex;
    gap: 8px;
}
.quadrado-cursando{
    width: 20px;
    height: 20px;
    background-color: #3347B0;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}
.quadrado-finalizado{
    width: 20px;
    height: 20px;
    background-color: #E5B657;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}


.cards {
    width: 100%;
    height: 100%;
    padding: 70px 4vh 70px;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 7vh;
    place-items: center;
}

.card {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
}

.card-finalizado{
    background-color: #E5B657;
}
.card-cursando{
    background-color: #3347B0;
    color: #fff;
}

.card img {
    width: 200px;
    height: auto;
}

.card h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;
}

@media (max-width:999px) {
    .container-principal {
        grid-template-areas: "container-direito";
        grid-template-columns: auto;
    }

    .container-esquerdo {
        display: none;
    }
    .cards{
        grid-template-columns: repeat(3, 1fr);
    }
    .titulo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 50px;
        padding: 15px;
    }
}

@media (max-width:640px) {
    .titulo h2{
        font-size: 2.5rem;
        text-align: center;
    }
    .container-legenda{
        display: none;
    }
    .cards{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width:400px) {
    .titulo h2{
        font-size: 2rem;
        text-align: center;
    }
}
