body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
header{
    background-color: #3347B0;
    padding-left: 10vw;
    padding-right: 10vw;
}
main{
    height: 100%;
    width: auto;
}
footer{
    display: flex;
    height: 140px;
    width: 100%;
    background-color: #3347B0;
    align-items: center;
    justify-content: space-between;
    padding: 0 96px;
}

@media (max-width: 999px) {
    
}

@media (max-width: 600px) {
    header{
        padding-left: 7vw;
        padding-right: 7vw;
    }
    main{
        height: auto;
    }
    body{
        height: auto;
    }

}