.section-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    place-items: center;
}

.escolha-curso {
    font-size: 3rem;
    line-height: 3.5rem;
    padding: 0 6vw;
}

.escolha-curso span {
    color: #3347B0;
}

.cardsJSON {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.card {
    display: flex;
    flex-direction: row;
    background-color: #3347B0;
    height: 200px;
    padding: 15px;
    justify-content: start;
    align-items: center;
    gap: 3vw;
    font-size: 3.5rem;
    color: white;
    margin-top: 2vh;
    font-weight: 500;
}
.img-card{
    width: 100px;
    height: 100px;
}

.cardsJSON :hover {  
    box-shadow: 12px 12px 4px rgba(0, 0, 0, 0.25);
    background-color: #4a69ff;
    transition: 1s;
}

@media (max-width: 1024px) {
    .responsive {
        width: 120%;
        height: 100%;
    }

    .estudante {
        width: 200px;
        height: 350px;
    }

    .escolha-curso {
        font-size: 2.4rem;
        padding: 0 1.5vw;
        text-align: center;
    }
    .cardsJSON {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .card{
        height: auto;
        gap: 2vw;
        font-size: 2rem;
    }
    .img-card{
        width: 75px;
        height: 76px;
    }
}

@media (max-width: 600px) {
    .section-main {
        display: flex;
        flex-direction: column;
        gap: 7vh;
    }

    .escolha-curso {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2vh 4vh;
        gap: 3vh;
        line-height: 3rem;
    }

    .responsive {
        width: 218px;
        height: 131px;
    }

    .estudante {
        width: 160px;
        height: 270px;
    }
    .card{
        margin-top: 4vh;
    }
}