.home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 11px;
}

nav {
    padding: 10px;
}

.nome {
    font-size: 1.25rem;
    color: #fff;
}

.sair {
    width: 64px;
    height: 64px;
    background-image: url(../img/fechar-as-portas.png);
    background-repeat: no-repeat;
}

.imagem-sair {
    background-image: url(../img/sair.png);
    background-repeat: no-repeat;
}

  

@media (max-width: 999px) {
    .logo img {
        width: 50px;
        height: 65px;
    }
}

@media (max-width: 600px) {

    .logo img {
        width: 40px;
        height: 55px;
    }

    .nome {
        font-size: 1.13rem;
    }

}