.container-contato{
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: space-around;
    color: #fff;
}
.container-icon{
    display: flex;
    gap: 24px;
    font-weight: 400;
    align-items: center;
}
.container-icon i{
    font-size: 1.2rem;
}
.copyright{
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    color: #fff;
}
.social-links{
    display: flex;
    flex-direction: row;
}
.social-links a {
    background: #697ff1;
    color: #fff;
    margin-right: 15px;
    border-radius: 50px;
    text-align: center;
    width: 40px;
    height: 40px;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer
}
.social-links a:hover {
    background: #062fff;
}

.social-links .icon {
    width: 18px;
    height: 18px
}
.copyright2{
    display: none;
}
@media (max-width:999px){
    .copyright{
        font-size: 1rem;
    }
}
@media (max-width:640px){
    .copyright{
        display: none;
    }
    .copyright2{
        display: block;
        color: #fff;
        text-align: center;
    }
}